<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">IETE CAT ONLINE PLATFORM v2.0</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >Contact Us</a>
	  </li>
	  <li class="nav-item active">
        <a class="nav-link" href="/admin" >Admin Page</a>
      </li>
      <li class="nav-item active">
        <button class="btn btn-outline-secondary log-out-btn">Logout</button>
      </li>
    </ul>
   <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Phone Number" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Call Me</button>
    </form>   NOT NEEDED IN ADMIN PAGE-->
  </div>
</nav>
		</div>
    </header>
    

    <main>
        
        <div class="container page-wrapper">
             <h1>Admin Page</h1>
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <div class="card-block">
                            <!--SWITCHERS-->
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-articles-tab" data-toggle="pill" href="#v-pills-articles" role="tab" aria-controls="v-pills-articles aria-selected="true">Test Questions</a>
                                <a class="nav-link" id="v-pills-mails-tab" data-toggle="pill" href="#v-pills-mails" role="tab" aria-controls="v-pills-mails" aria-selected="false">Mails</a>
                                <a class="nav-link" id="v-pills-Callbacks-tab" data-toggle="pill" href="#v-pills-Callbacks" role="tab" aria-controls="v-pills-Callbacks aria-selected="false">Callback Requests</a>
                                
                              </div>

                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card">
                        <div class="card-block">
                                <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-articles" role="tabpanel" aria-labelledby="v-pills-articles-tab">
                                            <button class="btn btn-primary create-post-btn">Add Question</button>
                                            <div class="articles">
     <!--dflex to distribute in one line  HERE ADDED  BY SERVER-->      
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-mails" role="tabpanel" aria-labelledby="v-pills-mail-tab">Mail content
                                          
                                        </div>
                                        <div class="tab-pane fade " id="v-pills-Callbacks" role="tabpanel" aria-labelledby="v-pills-Callbacks-tab">
                                          <div class="articles">
                                            <!--dflex to distribute in one line  HERE ADDED  BY SERVER-->      
                                              </div>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-create-post" role="tabpanel" aria-labelledby="v-pills-create-post-tab">
                                        
                                          <form class="create-post-form">
                                            <div class="form-group">
                                              <label for="create-question">Question</label>
                                              <input type="text" class="form-control" id="create-question" placeholder="question">
                                            </div>
                                            
                                            <div class="form-group">
                                              <label for="create-option1">Option 1</label>
                                              <input type="text" class="form-control" id="create-option1" placeholder="option1">
                                            </div>
                                            <div class="form-group">
                                              <label for="create-option2">Option 2</label>
                                              <input type="text" class="form-control" id="create-option2" placeholder="option2">
                                            </div>
                                            <div class="form-group">
                                              <label for="create-option3">Option 3</label>
                                              <input type="text" class="form-control" id="create-option3" placeholder="option3">
                                            </div>
                                            <div class="form-group">
                                              <label for="create-option4">Option 4</label>
                                              <input type="text" class="form-control" id="create-option4" placeholder="option4">
                                            </div>
                                            <div class="form-group">
                                              <label for="create-correct-option">Correct Option</label>
                                              <input type="text" class="form-control" id="create-correct-option" placeholder="correct-option">
                                            </div>

                                            <div class="form-group">
                                              <label for="create-image-url">Image</label>
                                              <input type="text" class="form-control" id="create-image-url" placeholder="URL">
                                              <p>or</p>
                                              <input type="file" class="form-control-file form-control" id="create-image-file">
                                            </div>

                                            

                                            <button class="btn btn-primary">Create Question</button>

                                          </form>
                                        </div>

<!--UPDATE FORM-->
                                        <div class="tab-pane fade" id="v-pills-update-post" role="tabpanel" aria-labelledby="v-pills-update-post-tab">
                                        
                                          <form class="update-post-form">
                                            <div class="form-group">
                                              <label for="update-question">question</label>
                                              <input type="text" class="form-control" id="update-question" placeholder="question">
                                            </div>

                                           

                    

                                            <div class="form-group">
                                              <label for="update-option1">Option 1</label>
                                              <textarea  class="form-control" id="update-option1" rows="5"></textarea>
                                            </div>
                                            <div class="form-group">
                                              <label for="update-option2">Option 2</label>
                                              <textarea  class="form-control" id="update-option2" rows="5"></textarea>
                                            </div>
                                            <div class="form-group">
                                              <label for="update-option3">Option 3</label>
                                              <textarea  class="form-control" id="update-option3" rows="5"></textarea>
                                            </div>
                                            <div class="form-group">
                                              <label for="update-option4">Option 4</label>
                                              <textarea  class="form-control" id="update-option4" rows="5"></textarea>
                                            </div>
                                            <div class="form-group">
                                              <label for="update-correct-option">Corrct Option</label>
                                              <textarea  class="form-control" id="update-correct-option" rows="5"></textarea>
                                            </div>

                                            <button class="btn btn-primary">Update Question</button>

                                          </form>
                                        </div>
                                      </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


    <!--links-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/questions.js"></script>
    <script src="/admin/js/create-question.js"></script>
    <script src="/admin/js/deletequestion.js"></script>
    <script src="/admin/js/update-question.js"></script>
    <script src="/admin/js/callback-requests.js"></script>
    <script src="/admin/js/emails.js"></script>
    <script src="/admin/js/main.js"></script>
    <script src="/admin/js/post.js"></script>
    <script>
      $(".nav-item").on("click", function(){
        $(".navbar-nav").find(".active").removeClass("active");
        $(this).addClass("active");
      });
    </script>
</body>
</html>